mixin filledTextField(name, label, type='text', value)
  +mdc-text-field('filled')
    span.mdc-text-field__ripple
    - const labelId = randomId();
    +mdc-floating-label(label, labelId)
    +mdc-text-field__input(name, type, value, labelId)&attributes(attributes)
    span.mdc-line-ripple

mixin outlinedTextField(name, label, type='text', value)
  +mdc-text-field('outlined')
    span.mdc-notched-outline
      span.mdc-notched-outline__leading
      span.mdc-notched-outline__notch
        - const labelId = randomId();
        +mdc-floating-label(label, labelId)
      span.mdc-notched-outline__trailing
    +mdc-text-field__input(name, type, value, labelId)&attributes(attributes)

mixin filledTextArea(name, value)
  +mdc-text-field('filled').mdc-text-field--textarea.mdc-text-field--no-label
    span.mdc-text-field__ripple
    span.mdc-text-field__resizer
      +mdc-text-field__inputTextArea(name, value)&attributes(attributes)
    span.mdc-line-ripple

mixin outlinedTextArea(name, value)
  +mdc-text-field('outlined').mdc-text-field--textarea.mdc-text-field--no-label
    span.mdc-notched-outline
      span.mdc-notched-outline__leading
      span.mdc-notched-outline__trailing
    span.mdc-text-field__resizer
      +mdc-text-field__inputTextArea(name, value)&attributes(attributes)

//- Internals, following:
  https://github.com/material-components/material-components-web/tree/master/packages/mdc-textfield

include /pug-material-design/utils

mixin mdc-text-field(type)
  - const id = randomId();
  label.mdc-text-field(id=id, class=`mdc-text-field--${type}`)&attributes(attributes)
    block
    +script('mdc-text-field', id)

mixin mdc-floating-label(label, id)
  span.mdc-floating-label.label(id=id)= label

mixin mdc-text-field__input(name, type, value, labelId)
  input.mdc-text-field__input(
    type=type,
    name=name,
    value=value,
    aria-labelledby=labelId
  )

mixin mdc-text-field__inputTextArea(name, value)
  textarea.mdc-text-field__input(
    name=name,
    rows=8,
    cols=40,
    aria-label='Label'
  )= value
